<com-card>
  <div class="container">
    <div class="wrapper">
      <header>
        <h2 [ngClass]="{ skeleton: loading }" *ngIf="header">
          {{ header }}
        </h2>
      </header>
      <section>
        <div class="flex-container between">
          <div class="flex-container col" style="width: 48%">
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Capacitação</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.capacitacao.nome }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Data de início</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.dtInicio }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Data de fim</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.dtFim }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Pessoas</com-label>
              <span [ngClass]="{ skeleton: loading }"> lista de pessoas </span>
            </div>
          </div>
          <div class="flex-container col" style="width: 48%">
            <!-- <div class="flex-container col" style="margin-bottom: 3rem">
                <com-label>Objetivo</com-label>
                <span [ngClass]="{ skeleton: loading }">
                  {{ proposta?.objetivo }}
                </span>
              </div>
              <div class="flex-container col" style="margin-bottom: 3rem">
                <com-label>Observação</com-label>
                <span [ngClass]="{ skeleton: loading }">
                  {{ proposta?.observacao }}
                </span>
              </div>
              <div class="flex-container col" style="margin-bottom: 3rem">
                <com-label>Pré-requisito</com-label>
                <span [ngClass]="{ skeleton: loading }">
                  {{ proposta?.preRequisito }}
                </span>
              </div> -->
          </div>
        </div>
      </section>
      <div class="flex-container end">
        <com-button fill routerLink="/proposta/listar">
          <ng-container slot="text">voltar</ng-container>
        </com-button>
      </div>
    </div>
  </div>
</com-card>
