<header>
  <div class="flex-container between">
    <h1>cadastro de catálogo</h1>
    <div class="flex-container middle"></div>
  </div>
</header>
<div class="container">
  <div class="wrapper">
    <com-form [id]="formId" [formGroup]="catalogoForm" (ngSubmit)="onSubmit()">
      <com-form-section partly formTitle="Descrição" step="1">
        <com-input
          formControlName="nome"
          label="Nome"
          [invalid]="
            (catalogoForm.get('nome').invalid &&
              catalogoForm.get('nome').touched) ||
            catalogoForm.errors?.nome
          "
        ></com-input>
        <div class="flex-container description">
          <com-textarea
            formControlName="descricao"
            label="Descrição"
            maxlength="4000"
            helper="Campo em texto livre"
            [invalid]="
              (catalogoForm.get('descricao').invalid &&
                catalogoForm.get('descricao').touched) ||
              catalogoForm.errors?.descricao
            "
          >
          </com-textarea>
        </div>
      </com-form-section>
      <com-form-section block>
        <com-fieldset>
          <div class="flex-container row end middle">
            <com-button
              fill
              confirm
              type="submit"
              [form]="formId"
              [disabled]="catalogoForm.invalid"
            >
              <ng-container slot="text"
                >confirmar e gerar catálogo</ng-container
              >
            </com-button>
          </div>
        </com-fieldset>
      </com-form-section>
    </com-form>
  </div>
</div>
