<section @fadeIn>
  <header>
    <div class="flex-container between">
      <h1>cadastro de curso</h1>
      <div class="flex-container middle"></div>
    </div>
  </header>

  <div class="container">
    <div class="wrapper">
      <div class="grid-item">
        <div class="sort-card">
          <div class="menu-card-sort">
            <span>Tipo</span>
            <com-form [formGroup]="capacitacaoForm"></com-form>
            <com-select
              [options]="options"
              [label]="'Selecione o tipo'"
              (changed)="handleChange($event)"
            >
            </com-select>
          </div>
        </div>
      </div>
      <ng-container *ngIf="formType == 'CURSO'">
        <app-curso-form @fadeInOut></app-curso-form>
      </ng-container>
      <ng-container *ngIf="formType == 'ATIVIDADE_COMPLEMENTAR'">
        <app-atividade-form @fadeInOut></app-atividade-form>
      </ng-container>
    </div>
  </div>
</section>
