<div>
  <header>
    <div class="flex-container between">
      <h1>cadastro de conclusão</h1>
      <div class="flex-container middle">
        <com-button
          *ngIf="currentStep < 3"
          (click)="cleanForm()"
          primary
          outline
        >
          <span slot="text">limpar formulário</span>
        </com-button>

        <com-button
          *ngIf="currentStep === 3"
          (click)="newFin()"
          primary
          outline
        >
          <com-icon slot="icon">add</com-icon>
          <span slot="text">cadastrar nova</span>
        </com-button>
      </div>
    </div>
  </header>
  <section class="container">
    <app-stepper
      [step]="currentStep"
      [map]="statusMap"
      (changed)="onStepperClick($event)"
    ></app-stepper>

    <div class="wrapper">
      <app-cadastro-step1
        [form]="form"
        *ngIf="currentStep === 1"
        (next)="nextStep()"
      ></app-cadastro-step1>
    </div>
    <div class="wrapper">
      <app-cadastro-step2
        [form]="form.get('pessoas')"
        *ngIf="currentStep === 2"
        (back)="previousStep()"
        (next)="nextStep()"
      ></app-cadastro-step2>
    </div>
    <div class="wrapper">
      <app-cadastro-step3 *ngIf="currentStep === 3"></app-cadastro-step3>
    </div>
  </section>
</div>
