.textarea {
  min-width: 100%;
}

.select {
  min-width: 100%;
}

.page-title {
  width: 100%;
  font-weight: bold;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: var(--grey);
  padding: var(--padding);
  background: var(--lighter-grey);
  border-radius: 0.5rem;

  & > div {
    max-width: 100rem;
    margin: auto;
  }
}

.m-bottom {
  margin-bottom: calc(var(--padding) + 1rem);
}
