<!-- TODO: componetizar melhor isso aqui quando tiver tempo -->
<section class="home-header"></section>
<div class="home-sections-wrapper flex-container">
  <aside class="home-side-section">
    <h1>bem vindo</h1>
    <p>Navegue entre os módulos do e-SISTENS</p>
    <com-card>
      <nav>
        <ul>
          <li>
            <a class="flex-container row middle between" routerLink="/">
              <div class="flex-container row middle">
                <img
                  class="nav-module-icon"
                  src="assets/images/siga-logo.png"
                />
                <span class="nav-module-name">cursos</span>
              </div>
              <com-icon>arrow_forward_ios</com-icon>
            </a>
          </li>
        </ul>
      </nav>
    </com-card>
  </aside>
  <section class="home-content">
    <div class="home-content-section">
      <com-card class="brand-card-wrapper">
        <div class="brand-card flex-container row middle">
          <img
            class="brand-card-gladio"
            src="assets/images/gladio-alado-3d.jpg"
            alt="gladio alado"
          />
          <div class="brand-card-slogan flex-container col middle">
            <h3>Força Aérea Brasileira</h3>
            <p>Asas que protegem o país</p>
          </div>
        </div>
      </com-card>
    </div>
  </section>
</div>
