<com-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <com-form-section partly formTitle="Cadastro" step="2"> </com-form-section>
  <com-form-section block>
    <footer class="flex-container end">
      <com-button (click)="back.emit()">
        <ng-container slot="text">voltar</ng-container>
      </com-button>
      <com-button (click)="next.emit()" [disabled]="form.invalid" fill confirm>
        <ng-container slot="text">confirmar e gravar conclusão</ng-container>
      </com-button>
    </footer>
  </com-form-section>
</com-form>
