<ul
  style="
    display: flex;
    flex-flow: row wrap;
    max-width: 100rem;
    list-style-type: none;
  "
>
  <!--Primary-->
  <li style="padding: 0.5rem">
    <com-button
      fill
      [routerLink]="['/catalogo', 'criar']"
      routerLinkActive="router-link-active"
    >
      <ng-container slot="text">criar catálogo</ng-container>
    </com-button>
  </li>

  <!--Secondary-->
  <li style="padding: 0.5rem">
    <com-button
      fill
      [routerLink]="['/catalogo', 'listar']"
      routerLinkActive="router-link-active"
    >
      <ng-container slot="text">listar catálogos</ng-container>
    </com-button>
  </li>
</ul>
