@import '../../../../../assets/scss/flex.scss';

header {
  width: 100%;
  background: var(--lighter-grey);

  text-transform: uppercase;
  font-size: 3.6rem;
  color: var(--grey);

  padding: 1.5rem 0;
  margin-bottom: 3rem;

  & > div {
    max-width: 1000px;
    margin: auto;
  }

  h1 {
    font-weight: bold;
  }
}

.container {
  padding: 0 var(--padding);

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 7.2rem;
  }
}

.full-width {
  width: 100%;
}
.row-step-first {
  & > *:first-child {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(3) {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:last-child {
    flex-basis: 25%;
  }
  & > *:last-child:first-child {
    flex-basis: 100%;
  }
}

.row-step-second {
  & > *:first-child {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(3) {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:last-child {
    flex-basis: 25%;
  }
  & > *:last-child:first-child {
    flex-basis: 100%;
  }
}

.row-step-1-first {
  & > *:first-child {
    flex-basis: 33%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    flex-basis: 33%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:last-child {
    flex-basis: 33%;
  }
  & > *:last-child:first-child {
    flex-basis: 100%;
  }
}

.row-step-1-third {
  & > *:first-child {
    flex-basis: 33%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    flex-basis: 33%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:last-child {
    flex-basis: 33%;
  }
  & > *:last-child:first-child {
    flex-basis: 100%;
  }
}

.row-step-2-third {
  & > *:first-child {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(3) {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:last-child {
    flex-basis: 25%;
  }
  & > *:last-child:first-child {
    flex-basis: 100%;
  }
}

.row-step-3-first {
  & > *:first-child {
    flex-basis: 33%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    flex-basis: 33%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:last-child {
    flex-basis: 33%;
  }
  & > *:last-child:first-child {
    flex-basis: 100%;
  }
}

.row-step-4-first {
  & > *:first-child {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    flex-basis: 25%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(3) {
    flex-basis: 15%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(4) {
    flex-basis: 15%;
    margin-right: calc(var(--padding) / 2);
  }
  & > *:last-child {
    flex-basis: 15%;
  }
  & > *:last-child:first-child {
    flex-basis: 100%;
  }
}

.rowButton {
  & > *:first-child {
    margin-right: calc(var(--padding) / 2);
  }
  & > *:nth-child(2) {
    margin-right: calc(var(--padding) / 2);
  }
}

.fs-step {
  background-color: #a1a1a1;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 2.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  width: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  cursor: pointer;
}

.mat-stepper-horizontal-line {
  border-top-width: 0.2rem;
  border-top-style: solid;
  flex: auto;
  height: 0;
  min-width: 3.2rem;
  border-top-color: rgba(0, 0, 0, 0.12);
}

.stepActive {
  transform: translateY(-20%);
  transition: 300ms 0s ease-in;
  background-color: #234b90;
}
