<header>
  <div class="flex-container between">
    <h1>cadastro de curso</h1>
    <div class="flex-container middle"></div>
  </div>
</header>
<div class="container">
  <div class="wrapper">
    <com-form>
      <com-form-section partly formTitle="Descrição" step="1">
        <com-input label="Codigo"></com-input>
        <com-input label="Nome"></com-input>
        <com-input label="Codigo CNPQ"></com-input>
        <com-input label="Disciplina"></com-input>
        <div class="flex-container description">
          <com-textarea
            label="Descrição"
            maxlength="4000"
            helper="Campo em texto livre"
          ></com-textarea>
        </div>
      </com-form-section>

      <com-form-section partly formTitle="titulo" step="2">
        <com-fieldset>
          <div class="flex-container wrap description">
            <com-textarea
              label="Objetivo"
              maxlength="4000"
              helper="Campo em texto livre"
            ></com-textarea>
            <com-textarea
              label="Observação"
              maxlength="4000"
              helper="Campo em texto livre"
            ></com-textarea>
            <com-textarea
              label="Pre Requisito"
              maxlength="4000"
              helper="Campo em texto livre"
            ></com-textarea>
          </div>
        </com-fieldset>
      </com-form-section>

      <com-form-section block>
        <com-fieldset>
          <div class="flex-container row end middle">
            <com-button fill confirm>
              <ng-container slot="text">confirmar e gerar curso</ng-container>
            </com-button>
          </div>
        </com-fieldset>
      </com-form-section>
    </com-form>
  </div>
</div>
