<com-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <com-form-section partly formTitle="Dados da Capacitação" step="1">
    <com-select
      [options]="capacitacaoOptions"
      [invalid]="
        form.get('capacitacaoId').invalid && form.get('capacitacaoId').touched
      "
      formControlName="capacitacaoId"
      label="Capacitação*"
    >
    </com-select>
    <com-input
      class="input"
      type="date"
      [invalid]="
        (form.get('dataInicio').invalid && form.get('dataInicio').touched) ||
        form.errors?.dataInicio
      "
      label="Início*"
      formControlName="dataInicio"
    ></com-input>
    <com-input
      class="input"
      type="date"
      [invalid]="
        (form.get('dataTermino').invalid && form.get('dataTermino').touched) ||
        form.errors?.dataTermino
      "
      label="Início*"
      formControlName="dataTermino"
    ></com-input>
    <com-input
      formControlName="nome"
      label="Local"
      [invalid]="
        (form.get('local').invalid && form.get('local').touched) ||
        form.errors?.local
      "
    ></com-input>
  </com-form-section>
  <com-form-section block>
    <footer class="flex-container end">
      <com-button primary fill (click)="onNext()" [disabled]="form.invalid">
        <span slot="text">próximo</span>
      </com-button>
    </footer>
  </com-form-section>
</com-form>
