<com-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <com-form-section partly formTitle="Dados da Capacitação" step="1">
    <com-label>Capacitação* </com-label>

    <com-autocomplete
      enableConfirmOnInexistentValue
      autoActiveFirstOption
      (changed)="filter($event)"
      label="Filtrar por nome, ou sigla"
      [options]="capacitacaoOptions"
      [invalid]="
        form.get('capacitacaoId').invalid && form.get('capacitacaoId').touched
      "
      formControlName="capacitacaoId"
      class="full-width"
    >
    </com-autocomplete>
    <br />
    <com-input
      class="input"
      type="date"
      [invalid]="
        (form.get('dataInicio').invalid && form.get('dataInicio').touched) ||
        form.errors?.dataInicio
      "
      label="Data de Início*"
      formControlName="dataInicio"
    ></com-input>
    <com-input
      class="input"
      type="date"
      [invalid]="
        (form.get('dataTermino').invalid && form.get('dataTermino').touched) ||
        form.errors?.dataTermino
      "
      label="Data de Término*"
      formControlName="dataTermino"
    ></com-input>
    <com-input
      formControlName="local"
      label="Local"
      [invalid]="
        (form.get('local').invalid && form.get('local').touched) ||
        form.errors?.local
      "
    ></com-input>
  </com-form-section>
  <com-form-section block>
    <footer class="flex-container end">
      <com-button primary (click)="onNext()">
        <span slot="text">próximo</span>
      </com-button>
    </footer>
  </com-form-section>
</com-form>
