<com-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <com-form-section partly formTitle="Cadastro" step="1">
    <com-select
      [options]="capacitacaoOptions"
      [invalid]="
        form.get('capacitacaoId').invalid && form.get('capacitacaoId').touched
      "
      formControlName="capacitacaoId"
      label="Capacitação*"
    >
    </com-select>
    <com-input
      class="input"
      type="date"
      [invalid]="
        (form.get('dataInicio').invalid && form.get('dataInicio').touched) ||
        form.errors?.dataInicio
      "
      label="Início*"
      formControlName="dataInicio"
    ></com-input>
    <com-input
      class="input"
      type="date"
      [min]="dateStart"
      [invalid]="
        (form.get('dataTermino').invalid && form.get('dataTermino').touched) ||
        form.errors?.dataTermino
      "
      label="Início*"
      formControlName="dataTermino"
    ></com-input>
    <com-input
      formControlName="nome"
      label="Local"
      [invalid]="
        (form.get('local').invalid && form.get('local').touched) ||
        form.errors?.local
      "
    ></com-input>
  </com-form-section>
  <com-form-section block>
    <com-fieldset>
      <div class="flex-container row end middle">
        <com-button fill routerLink="/organizacao/" style="margin-right: 1em">
          <ng-container slot="text">voltar</ng-container>
        </com-button>
        <com-button fill confirm type="submit" [disabled]="form.invalid">
          <ng-container slot="text"
            >confirmar e criar organizacao
          </ng-container>
        </com-button>
      </div>
    </com-fieldset>
  </com-form-section>
</com-form>
