<com-card>
  <div class="container">
    <div class="wrapper">
      <header>
        <h2 [ngClass]="{ skeleton: loading }" *ngIf="header">
          {{ header }}
        </h2>
      </header>
      <section>
        <div style="display: flex">
          <div
            style="
              display: flex;
              align-items: flex-start;
              width: 50%;
              flex-direction: column;
            "
          >
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Nome</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.nome }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Código CNPQ</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.codigoCnpq }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Disciplina</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.disciplina }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Carga horária</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.cargaHoraria }}
              </span>
            </div>
          </div>
          <div
            style="
              display: flex;
              align-items: flex-start;
              width: 50%;
              flex-direction: column;
            "
          >
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Objetivo</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.objetivo }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Observação</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.observacao }}
              </span>
            </div>
            <div class="flex-container col" style="margin-bottom: 3rem">
              <com-label>Pré-requisito</com-label>
              <span [ngClass]="{ skeleton: loading }">
                {{ proposta?.preRequisito }}
              </span>
            </div>
          </div>
        </div>
      </section>
      <div style="width: 100%; display: flex; justify-content: flex-end">
        <com-button fill routerLink="/proposta/listar">
          <ng-container slot="text">voltar</ng-container>
        </com-button>
      </div>
    </div>
  </div>
</com-card>
